body {
    padding: 0;
    margin: 0;
}
/* .bignav {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.nav {
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo .name {
    font-size: 20px;
}

.logo img {
    height: 50px;
}

.icons img {
    height: 20px;
}

.icons {
    display: flex;
    gap: 20px;
}
.body .card {
    margin: 20px;
    display: flex;
    display: inline-block;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px 16px;
    width: 30%;
    background-color: tan;
    position: relative;
}

.body .card img {
    width: 100%;
}
